<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openblend.nophonespam" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity
            android:name="org.openblend.nophonespam.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.openblend.nophonespam.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="org.openblend.nophonespam.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.openblend.nophonespam.MyActivity" />
        </activity>
    </application>

</manifest>
